<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <script src="{{url_for('static', filename='state.js')}}"></script>
    <title>{% block title %} {% endblock %}</title>
  
</head>
<body>

    <div style="padding: 4px; text-align: center; background: #1abc9c;  color: white;  font-size: 20px; position: absoulute;">
        <h4>ABC Hospital Management System</h4>
        <ul style="list-style-type: none; float: right; font-size: large;">
            {% if login%}
            <li style="display:inline"><a href="{{url_for('logout')}}" style="text-decoration: none">LOGOUT</a></li>
            {% endif %}
        </ul>
    </div>
    <h1> {% block heading %} {% endblock %} </h1>
    {% block content %}{% endblock %}
</body>
</html> 

 