<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
	<title>
		my project
	</title>
	
<style>
	.header {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
  position: absoulute;
}

.pure-form{
	padding-left: 400px;
	padding-top: 80px;
}


</style>
</head>


<body>
	<div class="header">
    <h4>ABC Hospital Management System</h4>
    </div>
    <form class="pure-form pure-form-aligned" action="" method="POST" >
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Username</label>
            <input type="text" name="username" placeholder="Username" />
            
            
        </div>
        <div class="pure-control-group">
            <label for="password">Password</label>
            <input type="password" name="password"  placeholder="Password" />
            
        </div>
        
        
        <div class="pure-controls">
              
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
          
        </div>
      
    </fieldset>
</form>
{% if error %}
        <p style="text-align: center;" class="error"><strong>Error:</strong> {{ error }}
{% endif %}

</body>
</html>
