{% extends "base.html" %}

{% block title %}
Patient Registration
{% endblock %}

{% block head%}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
      .header {
    padding: 4px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 20px;
    position: absoulute;
    }

    .pure-menu-link{
        background: rgb(66, 184, 221);
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
    .pure-menu-list{
        padding-bottom: 10px;
    }
    .search-container button:hover {
    background: #ccc;
  }
  .search-container {
      float: none;
    }
  </style>
{% endblock %}
{% block body %}

<br>
<h1 style="text-align: center;">Pharmacy</h1>


<table style="border: 1px solid black; border-collapse: collapse; margin: 0 auto; ">
	<tr>
      <th style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left; background-color: grey;">Patient Id</th>
      <th style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left; background-color: grey;">Name</th>
      <th style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left; background-color: grey;">Age</th>
      <th style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left; background-color: grey;">Address</th>
      <th style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left; background-color: grey;">DOJ</th>
      <th style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left; background-color: grey;">Type Of Bed</th>
    </tr>
    
    <tr>
        <td style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left;">
          <form method="POST" action="{{url_for('fetchIssuedMedicine')}}">
            <label for="aligned-SSN"></label>
            {% if patient_data %}
                <input type="text" value="{{ patientid }}" name="patientid">
            {% else %}
                <input type="text" placeholder='search patient' name="patientid">
            {% endif %}
            <button type="submit"><i class="fa fa-search"></i>GET</button>
          </form>
          </td>
          {% if patient_data %}
          <td style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left;">{{ patient_data['name'] }}</td>
          <td style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left;">{{ patient_data['age'] }}</td>
          <td style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left;">{{ patient_data['address'] }}</td>
          <td style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left;">{{ patient_data['dateOfAdmission'] }}</td>
          <td style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left;">{{ patient_data['typeOfBed'] }}</td>
          {% endif %}
    </tr>
</table>
<br>
<h1 style="text-align: center;">Medicines Issued</h1>
    {% if medicines %}
        <table style="border: 1px solid black; border-collapse: collapse; margin: 0 auto; ">
            <tr>
                <th style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left; background-color: grey;">Medicine</th>
                <th style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left; background-color: grey;">Quantity</th>
                <th style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left; background-color: grey;">Rate</th>
                <th style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left; background-color: grey;">Amount</th>
            </tr>

            {% for x in medicines %}
                <tr>
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left;">{{ medicines[x]['name'] }}</td>
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left;">{{ medicines[x]['quantity'] }}</td>
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left;">{{ medicines[x]['rate'] }}</td>
                    <td style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left;">{{ medicines[x]['amount'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %} 
<br>
<center>
    <button type="get" name="get" class="btn btn-secondary"><a href="{{ url_for('getMedicine', patientid = patientid) }}">Add Medicines</a></button>
</center>
{% endblock %}