{% extends "base.html" %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>
    my project
  </title>
  
</head>

    
    <body>
      <h1 style="text-align: center;">Update Patient</h1>
      <form style="padding-left: 380px" class="pure-form pure-form-aligned">

    <fieldset>
        <div class="pure-control-group">
            <label for="aligned-SSN">Patient ID *</label>
            <input type="text" id="SSN" placeholder="" />
            <button type="get" name="get" class="pure-button pure-button-primary">Get</button>
        </div>
        <div class="pure-control-group">
            <label for="aligned-name">Patient Name*</label>
            <input type="text" id="name" placeholder="" />
        </div>
        <div class="pure-control-group">
            <label for="aligned-age">Patient Age *</label>
            <input type="number" id="age" placeholder="" />
        </div>
        <div class="pure-control-group">
            <label for="aligned-admission">Date of Admission *</label>
            <input type="date" id="admission" placeholder="" />
        </div>
        <div><label style="padding-left: 80px" for="aligned-states">Type of bed *</label>
         <select name=list>
          <option value="">Select type..</option>
          <option value="type-1">type-1</option>
          <option value="type-2">type-2</option>
          <option value="type-3">type-3</option>
         </select>
     </div><br>
              <div class="pure-control-group">
            <label for="aligned-address">address *</label>
            <textarea rows="4" cols="50" name="comment" form="usrform"></textarea>
            </div>

          <div class="pure-control-group">
      <label for="State">State</label>
      <select name=list id="select1"  name="state" onchange="populate(this.id,'select2')">
     <option value="">Select</option>
                            <option value="chandigarh">Chandigarh</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                            <option value="Ladakh">Ladakh</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="Uttarpradesh">Uttar Pradesh</option>
            </select>
    </div>     <div style="padding-left: 150px">
                <td>City</td>
                    <td>
                        <select  id="select2"  name="city">
                            <option value="">Select</option>

                        </select>
                    </td>
                </div>
             <div class="pure-controls">
            
            <button type="Update" class="pure-button pure-button-primary">Update</button>
            
        </div>
    </fieldset>
</form>
</body>
</html>

    </div>
{% endblock %}