{% extends "base.html" %}

{% block title %}
Patient Registration
{% endblock %}

{% block heading %}
<center>
    View Patients
</center>

{% endblock %}

{% block content %}
<ul style="list-style-type: none; float: right; font-size: large; width: 8.0em; ">
  <li style="display:inline"><a href="{{url_for('logout')}}" style="text-decoration: none  ">LOGOUT</a></li>
</ul>
<br>
<br>
<br>

<table style="border: 1px solid black; border-collapse: collapse; margin: 0 auto;  ">
	<tr>
      <th style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left; background-color: grey;">Patient Id</th>
      <th style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left; background-color: grey;">Name</th>
      <th style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left; background-color: grey;">Age</th>
      <th style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left; background-color: grey;">Address</th>
      <th style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left; background-color: grey;">DOJ</th>
      <th style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left; background-color: grey;">Type Of Room</th>
    </tr>
    {% for p in patient %}
    <tr>
        <td style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left;">{{ p.id }}</td>
        <td style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left;">{{ p.name }}</td>
        <td style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left;">{{ p.age }}</td>
        <td style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left;">{{ p.address}}, {{ p.city}}, {{p.state}} </td>
        <td style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left;">{{ p.dateOfAdmission.date() }}</td>
        <td style="border: 1px solid black; border-collapse: collapse; padding: 5px; text-align: left;">{{ p.typeOfBed }}</td>

    </tr>
    {% endfor %}
  </table>
{% endblock %}